{% if install_mode == "standalone" %}
{{ zookeeper_id }}
{% elif install_mode == "cluster" %}
{% for server in play_hosts %}
{% if server == inventory_hostname %}
{{loop.index}}
{% endif %}
{% endfor %}
{% endif %}